* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
}

body {
  background-color: #ffffff;
}

.bgReisty {
  background-image: url("../../reistyevent/src/assests/Rectangle\ 3.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
